@use "../../dashboard/styles/dashboard";
@use "../../projector/styles/projector";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}

html {
  filter: saturate(1.5);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code-viewer,
.code-viewer *,
input,
textarea,
select,
[contenteditable="true"],
[contenteditable="true"] * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 9999;
  background: transparent;
}
