name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        include:
          - os: macos-latest
            dist_script: dist:mac
            artifact_glob: "release/*.dmg"
          - os: windows-latest
            dist_script: dist:win
            artifact_glob: "release/*.exe"
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build renderer
        run: npm run build:renderer

      - name: Build distributable
        run: npm run ${{ matrix.dist_script }}

      - name: Attach artifacts to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.artifact_glob }}

